* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
}
.container .top {
  padding-top: 80px;
  width: 95%;
  margin: auto;
}
.container .top Button {
  display: block;
  margin: 5px 0px;
}
.container .top .side-bar {
  border-radius: 5px;
  padding: 0px 25px;
  width: 95%;
  box-shadow: 2px 2px 10px -4px rgba(0, 131, 164, 0.75);
}
.container .top .side-bar .btn-4 {
  margin: 30px 0px;
}
.container .top .side-bar .btn-4:hover {
  cursor: pointer;
}
.container .top .side-bar .btn-4 .icon-clicked {
  display: inline;
  padding: 4px 8px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #0083a4;
  font-size: 18px;
  border: 1px solid #0083a4;
  box-shadow: 2px 2px 10px -4px rgba(0, 131, 164, 0.75);
}
.container .top .side-bar .btn-4 .icon-clicked i {
  color: rgb(255, 255, 255);
}
.container .top .side-bar .btn-4 .icon {
  display: inline;
  padding: 4px 8px;
  border-radius: 5px;
  color: #727e95;
  margin-right: 10px;
  border: 0.5px solid #b0b4bb;
  font-size: 18px;
}
.container .top .side-bar .btn-4 .btn-txt b {
  color: #727e95;
  font-size: 15px;
}
.container .top .side-bar .btn-4 .btn-txt-clicked b {
  color: #0083a4;
  font-size: 15px;
}
.container .top .center {
  border-radius: 5px;
  padding: 25px;
  padding-bottom: 17px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 10px -4px rgba(0, 131, 164, 0.75);
}

.slot {
  padding-bottom: 100px;
  padding-top: 15px;
}
.slot b {
  font-size: 18px;
}
.slot .slot-1 {
  border: 1px solid #b0b4bb;
  border-radius: 5px;
  display: flex;
  height: 100px;
  padding: 20px;
  margin: 10px 0px;
}
.slot .slot-1 .slot-icon {
  padding: 15px;
  border: 1px solid #b0b4bb;
  border-radius: 50px;
  height: 62px;
  margin-right: 20px;
}
.slot .slot-1 .slot-icon i {
  font-size: 30px;
  color: #727e95;
}
.slot .slot-1 .slot-txt p {
  color: #727e95;
}
.slot .slot-1 .slot-txt p span {
  color: black;
  font-weight: bold;
}
.slot .slot-1 .slot-txt .value {
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid #0083a4;
  display: inline;
  font-weight: bold;
  color: white;
  background: #0083a4;
}
.slot .slot-1.selected {
  border-radius: 5px; /* Add your desired border-radius value */
  border: 2px solid #0083a4; /* Add your desired border color */
}

.footer {
  display: flex;
}
.footer .right-btn {
  padding: 8px 16px;
  background-color: #0083a4;
  color: white;
  border: 1px solid #0083a4;
  border-radius: 5px;
  margin-left: auto;
  cursor: pointer;
}
.footer .go-back {
  border: 1px solid #b0b4bb;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

Label {
  font-size: 14px;
  margin-top: 10px;
}

Form {
  padding-bottom: 100px;
}
Form b {
  font-size: 20px;
}

.summery {
  display: flex;
  justify-content: center;
}
.summery .img {
  width: 140px;
  margin: auto;
  height: auto;
  display: block;
}

.summery-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.summery-1 b {
  display: block;
  font-size: 20px;
}
.summery-1 span {
  color: #727e95;
  font-size: 17px;
  font-weight: 500;
}
.summery-1 .customer {
  color: #727e95;
  line-height: 0%;
}
.summery-1 .customer-name {
  font-size: 17px;
  padding-top: -20px;
  line-height: 15px;
}

.summery-left {
  margin-left: auto;
  border-right: 1px solid #b0b4bb;
  padding: 5px 15px;
}
.summery-left p {
  color: #727e95;
  line-height: 0%;
  padding-top: 5px;
}
.summery-left b {
  font-size: 17px;
  padding-top: -20px;
  line-height: 15px;
}

.summery-right {
  padding: 5px 10px;
}
.summery-right p {
  color: #727e95;
  padding-top: 5px;
  line-height: 0%;
}
.summery-right b {
  font-size: 17px;
  padding-top: -20px;
  line-height: 15px;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.total .color {
  color: #0083a4;
}

.amount {
  padding-bottom: 100px;
}/*# sourceMappingURL=App.css.map */